@model IEnumerable<ForumSectionViewModel>

<h2>Forum</h2>

<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a class="btn btn-primary" href="@Url.Action("create", "section")">Add Section</a>
        </div>
    </div>
</div>

<div class="forum-sections">
    <div class="row">
    @foreach (var s in Model)
    {
        <div class="col-xs-12 col-lg-6">
        <a class="section" href="@Url.Action("Section", "Home", new { id = s.Id })">
            <div class="section__main">
                <div class="section__title">@s.Name</div>
                <p class="section__description">@s.Description</p>
            </div>

            <div class="forum-data">
                <div class="forum-data__datum">
                    <div class="datum__label">@s.TopicCount</div>
                    <div class="datum__value">Topics</div>
                </div>

                <div class="forum-data__datum">
                    <div class="datum__label">@s.PostCount</div>
                    <div class="datum__value">Posts</div>
                </div>
            </div>
            <div class="forum-last-post">
                <div class="forum-data__datum">
                    <div class="datum__label">Last Post</div>
                    <div class="datum__value">@(s.LastPost.HasValue ? s.LastPost.Value.ToString("MMM dd, yyyy hh:mm:sstt") : "")</div>
                </div>
            </div>
        </a>
        </div>
    }
    </div>
</div>

