@model ForumTopicListViewModel

<h2>@Model.SectionName</h2>

<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a class="btn btn-primary" href="@Url.Action("create", "topic", new { id = Model.SectionId })">
                <i class="fa fa-plus"></i>
                New Topic
            </a>
        </div>
    </div>
</div>

<div class="forum-topics">
    <div class="row">
        @foreach (var s in Model.Topics)
        {
            <div class="col-xs-12">
                <div class="topic">
                    <div class="topic__main">
                        <a class="topic__title" href="@Url.Action("Index", "Topic", new { id = s.Id })">@s.Title</a>
                        <div class="topic__author">@s.CreatedBy</div>
                    </div>

                    <div class="topic__posts">
                        <div class="datum__label">@s.PostCount</div>
                        <div class="datum__value">Posts</div>
                    </div>

                    <div class="forum-last-post">
                        <div class="last-post__name">@s.LastPostMember</div>
                        <div class="last-post__date">
                            <span class="date-ago">@(s.LastPostDate.HasValue ? s.LastPostDate.Value.ToString() : "")</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
