@model FuglBrennaMvc.Models.SubRealm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SubRealm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubRealmName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubRealmName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubRealmState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubRealmState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubRealmCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubRealmCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubRealmAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubRealmAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PracticeDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PracticeDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PracticeTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PracticeTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Realm.RealmName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Realm.RealmName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubRealmId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
