@model IEnumerable<FuglBrennaMvc.Models.SubRealm>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Realm
        </th>
        <th>
            Name
        </th>
        <th>
            State
        </th>
        <th>
            City
        </th>
        <th>
            Address
        </th>
        <th>
            Location
        </th>
        <th>
            Practice
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Realm.RealmName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubRealmName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubRealmState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubRealmCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubRealmAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PracticeDay), @Html.DisplayFor(modelItem => item.PracticeTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubRealmId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubRealmId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubRealmId }) |
            @Html.ActionLink("Add Event", "Create", "Events", new { id = item.SubRealmId }, null)
        </td>
    </tr>
}

</table>
